body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none; font-size: 13pt; padding: 5px; width: 100%;}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
main{
    overflow: auto;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}
figure {
    text-align: center;
}

.logo > figure >a{
    display: flex;
    gap: 10px;
}

table, th, td {
    word-wrap: break-word;
    border: 1px solid #cdcdcd;
    border-spacing: 0px;
    text-align: center;   
}
table{
    width: 100%
}
td,th{
    padding: 5px;
    
}

address{
    display: flex; 
    gap:10px; 
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}